/* splash page */
.splash-page .filter-name {
  vertical-align: middle;
  line-height: 40px;
  font-size: 16px;
}

.splash-page .filter, .splash-page .filter .col {
  padding-top: 0px; 
  padding-bottom: 0px;
}

/* star for splash page */
.star {
  color: gray;
  cursor: pointer;
}

.splash-page .star {
  font-size: 36px;
}

.attraction-page .star {
  font-size: 24px;
}

.star-selected {
  color: darkorange;
}

/* feed page */
.feed-page .loading {
  font-size: 18px;
}

/* heart for list page and view page */
.heart {
  font-size: 18px;
  cursor: pointer;
}

.heart-selected {
  color: #FF4073;
}

/* positioning */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.top {
  vertical-align: top;
}

.bottom {
  vertical-align: bottom;
}

.col-wrap {
  white-space: normal;
}

/* global link styling */
a {
  cursor: pointer;
  color: #00A;
  text-decoration: none;
}

/* make sure it doesn't get too wide (its not responsive yet) */
ion-content {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

/* attractions page */
.attraction-page .title .row, .attraction-page .title .row .col-75, .attraction-page .title .row .col-25 {
  padding-top: 0px; padding-bottom: 0px;
}

