<ion-view>
	<ion-header-bar class="bar bar-positive" align-title="center">
		<div class="buttons">
		    <button class="button ion-navicon-round button-light" ng-click="toggleLeftMenu(); " style="font-size: 22px"></button>
		</div>
		<h1 class="title" ng-show="wishlist==false">New York Attractions</h1>
		<h1 class="title" ng-show="wishlist==true">Your Picked Attractions</h1>
	</ion-header-bar>
	<ion-content class="padding feed-page" delegate-handle="feedScroll">
		<ion-list>
			<!-- display results in columns -->
			<div class="row">
				<div class="col" ng-class="columnClasses()" ng-repeat="column in columns()" >
					<div class="card" ng-repeat="result in getColumn(feed.results, column)" ng-show="feed.results.length > 0">
						<div class="item item-image">
							<a>
								<img ng-src="{{result.src}}" ui-sref="attraction({attraction_id: result.id})" ng-click="resultClicked(result)">
							</a>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-75 col-wrap">
									<a ui-sref="attraction({attraction_id: result.id})" ng-click="resultClicked(result)" class="item-title">{{result.title}}</a>
								</div>
								<div class="col-25 right col-wrap">
									<span ng-click="resultPicked(result)">
										<span class="ion-heart heart heart-selected" ng-show="attractionIsPicked(result.id)" class="heart-selected"></span>
										<span class="ion-heart heart" ng-show="!attractionIsPicked(result.id)"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-list>
		<ion-infinite-scroll
			ng-if="!resultsLoaded"
		    on-infinite="loadResults()" 
		    distance="10%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>