<ion-view>
	<ion-header-bar class="bar bar-positive" align-title="center">
		<div class="buttons">
		    <button class="button ion-navicon-round button-light" ng-click="toggleLeftMenu(); " style="font-size: 22px"></button>
		</div>
		<h1 class="title">Reset Password</h1>
	</ion-header-bar>
	<ion-content class="padding login-page">
		<div class="list">
			<div class="center">
				Enter your email and we will send an email to you to reset your password. <br /><br />
			</div>
		    <label class="item item-input">
		        <input type="text" placeholder="Email" ng-model="email">
		    </label>
		    <button class="button button-block button-positive" ng-click="resetPassword();">Reset Password</button>
		</div>
	</ion-content>
</ion-view>