<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

        <link href="lib/ionic/css/ionic.css?v=2" rel="stylesheet">
        <link href="css/splash.css?v=2" rel="stylesheet">

        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ionic/js/angular-ui/angular-ui-router.min.js"></script>
        <!-- <script src="cordova.js"></script> -->
        <script src="js/app.js?v=2"></script>
    </head>
    <body ng-app="tripperApp">
      <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content ion-nav-view ui-view ng-class="{'slide-right-left-ios7': animationEffect == 'slide-right', 'slide-left-right-ios7': animationEffect == 'slide-left'}">
          Loading...
        </ion-side-menu-content>

        <!-- Left menu -->
        <ion-side-menu side="left" ng-controller="menuCtrl">
          <!-- menu header -->
          <ion-header-bar class="bar-positive">
            <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content>
            <!-- buttons in left menu -->
            <!--<a ui-sref="login" class="item item-button-right">
              Login
            </a>
            <a ui-sref="signup" class="item item-button-right">
              Signup
            </a>
            <a ui-sref="signup-fb" class="item item-button-right">
              Signup with Facebook
            </a>-->
            <a ui-sref="splash" class="item item-button-right" ng-click="toggleLeftMenu()">
              Setup Taste Profile
            </a>
            <a ui-sref="wishlist" class="item item-button-right" ng-click="toggleLeftMenu()">
              Picked Attractions
            </a>
            <a ui-sref="feed" class="item item-button-right" ng-click="toggleLeftMenu()">
              Attractions
            </a>
          </ion-content>
        </ion-side-menu>

      </ion-side-menus>
    </body>
</html>