<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NY Travel Guide</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56752675-1', 'auto');
      //ga('send', 'pageview'); // we do this ourselves in our router service
    </script>
    <script src="js/includes.js"></script>
  </head>
  <body ng-app="tripperApp">
    <ion-side-menus>
      <!-- Center content -->
      <ion-side-menu-content ion-nav-view ui-view ng-class="{'slide-right-left-ios7': animationEffect == 'slide-right', 'slide-left-right-ios7': animationEffect == 'slide-left'}">
        Loading...
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left" ng-controller="menuCtrl">
        <!-- menu header -->
        <ion-header-bar class="bar-positive">
          <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
          <!-- buttons in left menu -->
          <a ui-sref="splash" class="item item-button-right" ng-click="toggleLeftMenu()">
            Setup Taste Profile
          </a>
          <a class="item item-button-right" ng-click="goPicked(); toggleLeftMenu();">
            Picked Attractions
          </a>
          <a class="item item-button-right" ng-click="goFeed(); toggleLeftMenu();">
            Attractions
          </a>
          <a ui-sref="login" class="item item-button-right" ng-show="notLoggedIn()" ng-click="toggleLeftMenu()">
            Login
          </a>
          <a ui-sref="signup" class="item item-button-right" ng-show="notLoggedIn()" ng-click="toggleLeftMenu()">
            Signup
          </a>
          <a class="item item-button-right" ng-show="!notLoggedIn()" ng-click="logout(); toggleLeftMenu()">
            Logout
          </a>
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>
  </body>
</html>